// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    mod-key "Alt"
    keyboard {
        xkb {
            //If you want to overwrite your keyboard layout,
            // uncomment the line below and change the layout accordingly.
            layout "us" // Use the American keyboard layout
            options "caps:escape"
        }
        repeat-delay 200
        repeat-rate 40
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
        accel-profile "flat"
        accel-speed 1.0
    }

    mouse {
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        accel-profile "flat"
        // accel-speed 1.0
    }

    focus-follows-mouse max-scroll-amount="30%" // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
